In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

parquet_file = pd.read_parquet('yellow_tripdata_2022-01.parquet')

parquet_file.to_csv('yellow_tripdata_2022-01.csv', index=False)

In [ ]:
df = pd.read_csv('yellow_tripdata_2022-01.csv')

In [ ]:
len(df)

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
engine.connect()

In [4]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

NameError: name 'df' is not defined

In [13]:
df_iter = pd.read_csv('yellow_tripdata_2022-01.csv', iterator=True, chunksize=100000, low_memory=False)

In [14]:
df = next(df_iter)

In [15]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [16]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [17]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

Wall time: 20.8 s

In [18]:
t_start = time()

try:
    while True:
        loop_start = time()

        df = next(df_iter)
        
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

        loop_end = time()

        print('inserted another chunk..., took %.3f seconds' % (loop_end - loop_start))
except StopIteration:
    t_end = time()
    
    print('completed data ingestion..., took %.3f seconds' % (t_end - t_start))

inserted another chunk..., took 66.295 second
inserted another chunk..., took 120.790 second
inserted another chunk..., took 78.900 second
inserted another chunk..., took 29.580 second
inserted another chunk..., took 30.235 second
inserted another chunk..., took 27.445 second
inserted another chunk..., took 28.545 second
inserted another chunk..., took 24.061 second
inserted another chunk..., took 26.300 second
inserted another chunk..., took 24.900 second
inserted another chunk..., took 26.460 second
inserted another chunk..., took 23.050 second
inserted another chunk..., took 22.170 second
inserted another chunk..., took 25.190 second
inserted another chunk..., took 22.740 second
inserted another chunk..., took 25.700 second
inserted another chunk..., took 37.507 second
inserted another chunk..., took 44.467 second
inserted another chunk..., took 40.726 second
inserted another chunk..., took 38.264 second
inserted another chunk..., took 36.966 second
inserted another chunk..., took 38.312 second
inserted another chunk..., took 36.777 second
inserted another chunk..., took 23.956 second
completed data ingestion..., took 899.510 second

In [ ]:
query = """
SELECT *
FROM yellow_taxi_data
LIMIT 10
""" 

pd.read_sql(query, con=engine)

In [ ]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
schemaname != 'information_schema'
""" 

pd.read_sql(query, con=engine)

In [ ]:
query = """
DROP TABLE yellow_taxi_data
""" 

pd.read_sql(query, con=engine)